* {
  box-sizing: border-box;
}

.border {
  border: 5px solid black;
}

.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 100px;
}

.footer {
  height: 100px;
}

.container {
  display: flex;
  flex-grow: 1;
}

.left {
  flex-grow: 1;
  order: -1;
}

.right {
  flex-grow: 1;
}

.main {
  flex-grow: 2;
}

.header,
.left,
.main,
.right,
.footer {
  min-height: 100px;
}

.left,
.main,
.right {
}
